# Ignore Ruby files
*.rb
!config/boot.rb
!config/routes.rb
!config/application.rb
!app/controllers/*.rb
!app/models/*.rb

# Ignore database files
*.sqlite3
*.sqlite3-*

# Ignore log files
log/*
*.log

# Ignore environment files
.env
.env.*

# Ignore temporary files
tmp/*
!tmp/.keep

# Ignore asset pipeline files
/public/assets
.byebug_history

# Ignore Mac and Linux system files
.DS_Store
.idea/
.vscode/ 